<%=render 'master'%>
<style type="text/css">
body
{
background-color: #D6F7F8;
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:70px;
}

.table1
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
.table1 td
{
font-size:1.2em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
.table1 th
{
font-size:1.4em;
text-align:center;
padding-top:5px;
padding-bottom:4px;
background-color:#34C942;
color:#ffffff;
}
.table1 tr.alt td
{
color:#000000;
background-color:#EAF2D3;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

</style>



<br>
<br>
<img  src="/images/listofemployees.png"/>

<form action="/addressbooks/new" align="right">
<input type="submit" value='Create new Account'> 
</form>

<br>
<br>
<form action="/addressbooks/homeadmin">
Sort by:<select name="list" onchange="this.form.submit();">
   <option>--Search--</option>
  <option value="name">Name</option>
  <option value="designation">Designation</option>
  <option value="username">Username</option>
  <option value="role">Role</option>
  <option value="email">Email</option>
</select>
</form>
<br>
<table class="table1">
  <tr>
    <th>Name</th>
    <th>Designation</th>
    <th>Username</th>
    <th>Role</th>
    <th>Phone Nos</th>
    <th>email</th>
    <th></th>
    <th></th>

    <br><br><br>
  </tr>
</form>
  <% @addressbooks.each do |addressbook| %>
  <tr>
    <td><%= addressbook.name.titlecase %></td>

    <td><%= addressbook.designation.titlecase %></td>
    <td><%= addressbook.username %></td>
    <td><%= addressbook.role.titlecase %></td>
    <td><%= addressbook.phoneno %></td>
     <td><%= mail_to addressbook.email %></td>
    <td><%= link_to 'Edit Details', edit_addressbook_path(addressbook) %></td>
     <td><%= link_to 'Delete', addressbook, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br>
<br>



